.Navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: var(--size-navbar-height);
}

.items {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: right;
}

.left, .middle, .right {
  display: flex;
  gap: 30px;
}

.left, .right {
  margin-right: 30px;
}

.right {
  margin-left: 30px;
}